body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    font-family: "Montserrat", sans-serif;
    display: flex;
    flex-direction: column; /* Orienta los elementos en una columna */
}

header, .footer {
    flex-shrink: 0; /* Esto previene que header y footer se reduzcan */
}

.container-fluid {
    flex-grow: 1; /* Permite que el contenedor se expanda para llenar el espacio disponible */
    overflow-y: auto; /* Añade desplazamiento vertical si el contenido es demasiado alto */
}

/* 
#syntax-network {
    overflow-y: auto; /* Permite desplazamiento vertical */
    max-height: 500px; /* Ajusta según las necesidades */
}
*/

#syntax-network {
    overflow: auto; /* Asegura que se pueda desplazar si es necesario */
    border: 1px solid red;
    position: relative; /* Establece la posición relativa para el control de overflow */
    min-height: 700px; /* Altura mínima para asegurar espacio suficiente */
}

/* Estilos para mejorar la legibilidad del texto en el treemap */
text {
    font-size: 12px; /* Tamaño de fuente adecuado para la legibilidad */
    fill: white; /* Color de fuente para contraste con colores oscuros de fondo */
    text-shadow: 1px 1px 2px black; /* Sombra para mejorar la legibilidad */
}

/* Clases para el contenedor del reproductor YouTube */
#youtube-player {
    height: 100vh; /* Ajusta la altura al 70% de la altura de la ventana */
    background-color: #000;
    color: #fff;
    padding: 5px;
    border: 1px solid #ccc;
}

/* Mejoras para header y footer */
header {
    background-color: #333;
    color: white;
}

#progressContainer {
    width: 100%;
    background-color: #ddd;
}

#progressBar {
    width: 0%;
    height: 20px;
    background-color: #4CAF50;
    transition: width 0.4s ease; /* Suave transición para cambios de ancho */
}

.footer {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 100%;
    font-size:10px;
}

/* Ajustes para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container-fluid, .row, .col-md-6 {
        width: 100%; /* Asegura que el contenedor use todo el ancho en pantallas pequeñas */
        padding: 0; /* Elimina el padding innecesario */
    }

    #syntax-network {
        min-height: 300px; /* Altura menor para dispositivos más pequeños */
    }
}

