body, html {
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;
    font-family: "Montserrat", sans-serif;
}

/* Estilos específicos de Bootstrap */
.container-fluid, .row, .col-md-3, .col-md-9 {
    height: 100%; /* Establece la altura al 100% para todos los contenedores flexibles */
}

.footer {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 100%;
    clear: both; /* Esto asegura que el footer no se sobreponga con otros elementos */
}

#syntax-network {
    overflow-y: auto; /* Permite desplazamiento vertical */
    max-height: 500px; /* Ajusta según las necesidades */
}

/* Media queries para ajustar para dispositivos móviles */
@media screen and (max-width: 768px) {
    .footer {
        position: relative; /* En dispositivos móviles, asegúrate de que el footer sea relativo y no fijo */
    }
}
