body, html {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
}

#text-1 {
    height: 75%;  /* Ajusta la altura para asegurarse de que el botón tenga espacio */
    resize: none; /* Previene que el usuario cambie el tamaño del área de texto */
}

#morphButton {
    width: 100%; /* Asegura que el botón se extienda a lo ancho del contenedor */
    padding: 10px 0; /* Da más espacio dentro del botón */
}

.nav {
    list-style-type: none;
    padding-left: 0;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    display: block;
    padding: 8px 16px;
}

.upper-section {
    background-color: #333;
}

.footer {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.container-fluid, .row, .col-md-4, .col-md-8, .d-flex {
    height: 100%;
}
