body, html {
    height: 100%;
    margin: 0;
    background-color: #f0f0f0;
    font-family: "Montserrat", sans-serif;
}

.container-fluid, .row {
    min-height: 100%; /* Esto permite que el contenido se ajuste al menos al 100% de la altura de la ventana, pero puede expandirse más si es necesario */
}

/* Ajuste del header */
header.bg-dark {
    padding: 2px 0; /* Reduce el padding para hacer el header más pequeño */
    font-size: 0.9rem; /* Reduce el tamaño del texto si es necesario */
}

/* Clases para el contenedor del reproductor YouTube */
#youtube-player {
    height: 70vh; /* Ajusta la altura al 70% de la altura de la ventana */
    background-color: #000;
    color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
}

#syntax-network {
    overflow-y: auto; /* Permite desplazamiento vertical */
    max-height: 500px; /* Ajusta según las necesidades */
}

.footer {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: relative; /* Asegura que el footer sea siempre visible al final del contenido */
}

@media screen and (max-width: 768px) {
    .footer {
        position: relative;
    }
}
