body, html {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
}

.container-fluid, .row, .col-md-3, .col-md-2, .col-md-7, .d-flex {
    height: 100%;  /* Establece la altura al 100% para todos los contenedores flexibles */
}

#text-1 {
    height: auto; /* Permite que el área de texto ajuste su altura automáticamente */
    flex-grow: 1; /* Ocupa el espacio disponible */
}

#morphButton {
    width: 100%; /* Ajusta el ancho automáticamente al contenido */
}

.morphContainer-2 .right-section {
    display: flex;
    flex-direction: column;
}

#morphAnalizeUp {
    flex: 25%; /* Asigna el 25% de la altura del contenedor padre */
}

#morphAnalizeCenter {
    flex: 75%; /* Asigna el 75% de la altura del contenedor padre */
}

.nav {
    list-style-type: none;
    padding-left: 0;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    display: block;
    padding: 8px 16px;
}

.upper-section {
    background-color: #333;
}

.footer {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.container-fluid, .row, .col-md-4, .col-md-8, .d-flex {
    height: 100%;
}
