body, html {
    height: 100%;
    margin: 10px;
    background-color: #f0f0f0;
    font-family: "Monserrat", sans-serif;
    overflow: hidden; /* Evita el desplazamiento en el nivel más alto */
}

/* Upper section */
.upper-section {
    text-align: center;
}

/* File Operation section */
.file-operations {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 0px 0;
    margin: 20px 0; /* Ajusta el margen según sea necesario */
}

/* Estilos para las etiquetas de las secciones */
.section-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 30px;
    padding-left: 0cqmax;
    padding-top: 0cqmax;
    padding-right: 0cqmax;
    padding-bottom: 0cqmax;
    text-align: left;
}


.download-buttons, .upload-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.download-buttons button, .upload-buttons input {
    width: 30%;
    padding: 10px;
    margin: 0 5px;
}

.upload-file {
    display: none; /* Oculta el input de tipo file */
}

.upload-label {
    display: inline-block;
    padding: 10px 15px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    cursor: pointer;
    width: 29%;
    text-align: center;
}


/* Contenedor */

.container {
    display: flex; /* Utiliza flexbox para organizar los elementos en fila */
}

.left-section {
    flex: 1; /* Ocupa el 50% del espacio disponible */
    border: 1px solid #ccc; /* Agrega borde a la sección izquierda */
    display: flex; /* Utiliza flexbox para organizar los elementos en columna */
    flex-direction: column; /* Asegúrate de que los elementos se apilen verticalmente */
}

.right-section {
    flex: 1; /* Ocupa el 50% del espacio disponible */
    display: flex; /* Utiliza flexbox para organizar los elementos en columna */
    flex-direction: column; /* Asegúrate de que los elementos se apilen verticalmente */
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
}

.right-section {
    flex: 1; /* Ocupa el 50% del espacio disponible */
    display: flex; /* Utiliza flexbox para organizar los elementos en columna */
    flex-direction: column; /* Asegúrate de que los elementos se apilen verticalmente */
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
}

/* Área de texto fija */
/* Estilo para la parte inferior de la sección izquierda */
#text {
    flex: 3; /* Ocupa el 75% del espacio disponible */
    border: 1px solid #ccc; /* Agrega borde al área de texto */
    margin: 0; /* Elimina el margen */
    padding: 10px; /* Agrega espacio interno */
    resize: none; /* Evita que el usuario pueda cambiar el tamaño */
    overflow-y: auto; /* Agrega desplazamiento vertical si el contenido es demasiado largo */
}

#text::placeholder {
    color: #000000; /* Cambia el color del texto del placeholder */
    font-style: italic; /* Estilo de fuente para el placeholder */
    font-size: 14px; /* Tamaño de fuente específico para el placeholder */
    text-align: justify; /* Alinea el texto del placeholder */
    text-indent: 0;
    padding-left: 0;
    margin-left: 0
    /* Otros estilos que quieras aplicar */
}

/* Estilos para la sección derecha (Visualización del Grafo) */
.right-section {
    flex: 1; /* Ocupa el 50% del espacio disponible */
    display: flex; /* Utiliza flexbox para organizar los elementos en columna */
    flex-direction: column; /* Asegúrate de que los elementos se apilen verticalmente */
    justify-content: center; /* Centra verticalmente los elementos */
    align-items: center; /* Centra horizontalmente los elementos */
    border: 1px solid #ccc; /* Agrega borde a la sección derecha */
    margin-left: 10px; /* Agrega un espacio entre las secciones izquierda y derecha */
}

/* Contenedor del grafo */
/* #network {
    width: 100%;
    height: 600px; /* Asegura una altura fija
    border: 1px solid #ccc;
    padding-left: 0%;
    padding-top: 0%;
    padding-right: 0%
} */

#network {
    width: 100%;
    height: 75%; /* o ajustar según sea necesario */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    border: 1px solid #ccc;
    display: flex;
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
}

#count-section {
    width: 100%;
    height: 25%; /* o ajustar según sea necesario */
    overflow: hidden; /* Oculta cualquier contenido que se desborde */
    border: 1px solid #ccc;
    display: flex;
    justify-content: center; /* Centrar contenido horizontalmente */
    align-items: center; /* Centrar contenido verticalmente */
    /* border-top: none;  Elimina el borde superior para separarlo del contenedor de la red */
    }

#procesarButton {
    padding: 10px 20px;
    font-size: 14px;
}

/* Estilos para el pie de página */
.lower-section {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
        height: auto;
    }

    #text {
        height: 200px;
    }

    #network {
        height: 400px; /* Altura más pequeña para dispositivos móviles */
    }
}
