body, html {
    height: 100%;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-color: #f0f0f0;
    overflow: hidden;
}

.nav {
    list-style-type: none;
    padding-left: 0;
}

.nav-item {
    display: inline-block;
}

.nav-link {
    display: block;
    padding: 8px 16px;
}

.upper-section {
    background-color: #333;
}

.footer {
    background-color: #ffffff;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.container-fluid, .row, .col-md-4, .col-md-8, .d-flex {
    height: 100%;
}
