/* Contenedor principal */
.main-container {
    display: flex;
    flex-direction: column; /* Los contenedores hijos se apilarán verticalmente */
    height: calc(100% - 120px); /* Altura total menos la altura del footer */
}

/* Contenedor-1 y Contenedor-2 */
.container-1,
.container-2 {
    display: flex;
    flex-direction: column; /* Los elementos hijos se apilarán verticalmente */
    flex: 1; /* El contenedor ocupará todo el espacio disponible */
    margin: 10px; /* Espacio entre los contenedores */
}

/* Contenedor de texto y botón */
.left-section-top,
.left-section-bottom {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Espacio entre el área de texto y el botón */
}

/* Área de texto */
.text-input-section-1 textarea,
.text-input-section-2 textarea {
    width: calc(100% - 20px); /* Ancho total menos el padding */
    height: 200px; /* Altura fija del área de texto */
    padding: 10px; /* Espacio interno */
    border: 1px solid #ccc; /* Borde */
    resize: none; /* Evita que el usuario pueda cambiar el tamaño */
    margin-bottom: 10px; /* Espacio inferior */
}

/* Botón de procesamiento */
#procesarButton-1,
#procesarButton-2 {
    width: 100%;
    padding: 10px 20px;
    font-size: 14px;
}

/* Contenedor del análisis sintáctico y semántico */
.center-section-1,
.center-section-2,
.right-section-1,
.right-section-2 {
    flex: 1; /* El contenedor ocupará todo el espacio disponible */
    border: 1px solid #ccc; /* Borde */
    margin-bottom: 10px; /* Espacio entre los contenedores */
    overflow: auto; /* Permitir desplazamiento vertical si el contenido es demasiado grande */
}

/* Footer */
.footer {
    position: fixed;
    bottom: 30px;
    left: 10px;
    right: 10px;
    height: 90px;
    background-color: #ffffff; /* Ajusta el color de fondo según sea necesario */
    text-align: center;
    font-family: "Monserrat", sans-serif;
}

.footer-text {
    font-size: 25px;
    padding-left: 40px;
    float: center;
    word-spacing: 20px;
}

/* Estilos para dispositivos móviles */
@media screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left-section, .right-section {
        width: 100%;
        height: auto;
    }

    #text {
        height: 200px;
    }

    #network {
        height: 400px; /* Altura más pequeña para dispositivos móviles */
    }
}
